h2 О проекте "Эко Единство"
p.page_text - Направление "зеленого роста" - развитие экономики, где регулятором выступает состояние окружающей среды
p.page_text -  Отрасли и сферы экономики: введение новых и замена (или улучшение) старых для восстановления и поддержания экологии. Аналогично для субъектов в ней участвующих.
p.page_text - Привлечение вклада в состояние окружающей среды (качество и количество)
