h2 О проекте "Эко Единство"
p.page_text Экология - сфера жизни, которая требует внимания не менее чем остальные (добавить диаграмму с кругами Эйлера). Работа в данной сфере должна проводиться не только с целью достижения высокого уровня экологии, а также для его постоянного поддержания. Не влиять негативно на другие значимые сферы. Экология должна вносить вклад и балансировать общее взаимодействие всех сфер жизни, а не выступать доминантой. Пример этого взаимодействия - "Зеленый рост".
p.page_text Внедрение результатов работы в повседневную жизнь, касается таких сфер как транспорт, строительство, вторичная переработка ресурсов, альтернативная энергетика и т.д.
p.page_text Текущий проект - площадка для размещения разработок, инноваций и т.д. в сфере экологии, которые готовы к внедрению или уже реализованы на практике.
