h2 Транспорт
p.page_text 1. Невозможность создания универсального транспорта.
p.page_text 2. Изменение подходов в производстве транспорта для достижения:
p - модульности, но без потери функционала и эстетики;
p - простоты производства и ремонта;
p - решения проблем перенасыщение транспортных магистралей, парковок.
p.page_text 3. Минимизация ущерба окружающей среде при использовании транспорта:
p - использование альтернативных менее вредных двигателей;
p - использование мускульного транспорта (положительное влияние в условиях гиподинамии).
p.page_text 4. Экономическая сторона:
p - недешево добывать, перерабатывать, перевозить нефть, запасы исчерпаемы;
p - привлечение в общий поток конструкторов-любителей.