h2 Транспорт
p.page_text 1. Невозможность создания универсального транспорта.
p.page_text 2. Изменение подходов в производстве транспорта для достижения:
p.page_text - модульности, но без потери функционала и эстетики;
p.page_text - простоты производства и ремонта;
p.page_text - решения проблем перенасыщение транспортных магистралей, парковок.
p.page_text 3. Минимизация ущерба окружающей среде при использовании транспорта:
p.page_text - использование альтернативных менее вредных двигателей;
p.page_text - использование мускульного транспорта (положительное влияние в условиях гиподинамии).
p.page_text 4. Экономическая сторона:
p.page_text - недешево добывать, перерабатывать, перевозить нефть, запасы исчерпаемы;
p.page_text - привлечение в общий поток конструкторов-любителей.