// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import global

#left 
  //padding: 0 0 0 1% 
  width: 24%
  float: left 

#right 
  //padding: 0 0 0 1%
  width: 75%
  float: right

ul.clear-markers
  li
    list-style-type: none   

.user-form
  width: 360px
  height: 180px
  margin: 0 auto

.input-user
  margin: 5px auto
  padding: 3px 10px  
  width: 300px

.footer-btn
  margin: 5px auto
  width: 326px 
  display: inline-block

  

