@import global

.rounded-box
  border: 1px solid $text-color
  padding: 10px    
  @include border_radius(5px)
  margin: 5px 5px 0 5px  


.left-img
  float: left
  margin: 12px 12px 12px 0
  width: 200px
   
.right-img  
  float: right
  margin: 12px 0 12px 12px
  width: 200px

.btn
  a
    @include border_radius(5px)
    text-align: center
    margin-left: 5px
    margin-right: auto
    padding: 5px 0 5px 0
    text-decoration: none
    display: inline-block
    color: $bg-color
    background: $text-color
    width: 100px
    &:hover
      font-weight: bold  