@import global

body 
  background: $bg-color 

.container 
  padding: 0 20px
  margin: 0 auto
  max-width: 1000px
  min-width: 700px

.clear
  clear: both  


.footer_text
  font-size: 100%
  padding: 0 0 1px 0

footer 
  text-align: center
  margin-top: 10px
  padding: 5px

.control-right
  float: right
  margin-left: 10px

.control-left
  float: left
  margin-right: 10px  

.row
  display: inline-block      
  width: 100%

.rounded
  border: 1px solid
  margin-bottom: 5px  
  border: 1px solid $text-color
  @include border_radius(5px)  
